* 
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

body
{
    color: #800020;
    animation: transitionIn 0.7s;
    background: #ffffff;
}

@keyframes transitionIn
{
    from
    {
        opacity: 0;
        transform: translateY(-10px);
    }

    to
    {
        opacity: 1;
        transform: translateY(0);
    }
}

/* TOP PAGE */

nav
{
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: sticky;
    top: 0;
}

nav ul
{
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
}

nav ul li
{
    list-style: none;
}

nav ul li a
{
    display: block;
    color: white;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

nav ul li a:hover,
nav ul li a.active
{
    background: #800020;
}

nav img
{
    height: 100%;
    width: 3%;
    padding-left: 1%;
}



/* CENTER PAGE */

.start
{
    background: linear-gradient(#800020 55%, #ffffff 100%);
    height: 700px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.front
{
    text-align: center;
    padding: 200px 0;
    font-size: 40px;
    font-weight: 300;
    color: #800000;
    text-transform: uppercase;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
}

.front h1
{
    font-family: 'Kanit', cursive;
}

#name
{
    font-size: 50px;
    color: #800000;
    font-family: 'Kanit', cursive;
}

.design
{
    padding: 50px;
    font-weight: 600;
}

.design h1
{
    text-align: center;
    font-family: 'Kanit', cursive;
    font-size: 40px;
}

.line {
    height: 6px;
    background-color: #800020;
    width: 150px;
    margin: 8px auto;
}

.design p
{
    font-family: 'Kanit', cursive;
    text-align: center;
    font-size: 20px;
}

.outro
{
    color: #800020;
    height: 200px;
    width: 400px;
}

.outro h5
{
    color: #800020;
    font-family: 'Kanit', cursive;
}



/* FOOTER */

.footing
{
    max-width: 1170px;
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

ul
{
    list-style: none;
}

.footer
{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: #800020;
    padding: 70px 0;
}

.footer-col
{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4
{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child)
{
    margin-bottom: 10px;
}

.footer-col ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover
{
    color: #ffffff;
    padding-left: 8px;
}